<div class="modal fade" id="deleteModal" tabIndex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirmação</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Você tem certeza que deseja deletar esse curso?
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" type="button" (click)="deleteCourse()">Sim</button>
      </div>

    </div>
  </div>
</div>
