<div class="navbar navbar-expand navbar-dark bg-dark">
  <img
    class="p-2 ms-3"
    width="80"
    alt=" App Logo"
    src="assets/img/app-logo.png"
  />
  <a href="" class="navbar-brand ms-1">

    <h2 class="">DEV CURSOS</h2>
  </a>
  <div class="navbar-nav me-auto">
    <div class="nav-item" *ngIf="isAdmin()">
      <a [routerLink]="['/admin']" routerLinkActive="active" class="nav-link">Admin</a>
    </div>
    <div class="nav-item">
      <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
    </div>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
    <div class="nav-item p-3">
      <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">Cadastrar</a>
    </div>
    <div class="nav-item p-3">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Entrar</a>
    </div>
  </div>

  <div class="navbar-nav ms-auto" *ngIf="currentUser?.id">
    <div class="nav-item p-3">
      <a [routerLink]="['/profile']" routerLinkActive="active" class="nav-link">
        {{currentUser.username}}
      </a>
    </div>
    <div class="nav-item p-3">
      <a (click)="logOut()" class="nav-link" style="cursor: pointer;">Sair</a>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
